{% extends "_base.html" %}
{% block title %}
All the puppies!
{% endblock %}
{% block content %}
<h1>PUPPIES!</h1>
<table class="table-striped table-bordered" width=80% style="text-align: center">
    <tr>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Name</th>
        <th style="text-align: center">Age</th>
        <th style="text-align: center">Breed</th>
    </tr>
    {% for puppy in puppies %}
    <tr>
        <td>{{puppy.id}}</td>
        <td>{{puppy.name}}</td>
        <td>{{puppy.age}}</td>
        <td>{{puppy.breed}}</td>
        <td>
            <form action="{{ url_for('update_or_delete',id=puppy.id) }}" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </th>

</table>
{% endblock %}